.centerpiece {
    align-content: center;
    text-align: center;
}

@keyframes firework {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    90% {
        opacity: 0.5;
        transform: translateY(-700px) scale(1.2);
    }
    100% {
        opacity: 0;
        transform: translateY(-700px) scale(4); /* Explosion effect */
        background-color: yellow; /* Explosion color */
    }
}

.firework {
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    animation: firework 1s forwards;
}
